################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CTC.Core/Entitys/Vehicle.cs
